/* normal */
@font-face {
	font-family: 'Gitan';
	font-style: normal;
	font-weight: normal;
	src: url('https://shevernitskiy.github.io/store/fonts/Gitan/Gitan-Regular.otf') format('opentype');
}
@font-face {
	font-family: 'Gitan';
	font-style: normal;
	font-weight: bold;
	src: url('https://shevernitskiy.github.io/store/fonts/Gitan/Gitan-Bold.otf') format('opentype');
}

/* itaclic */
@font-face {
	font-family: 'Gitan';
	font-style: italic;
	font-weight: normal;
	src: url('https://shevernitskiy.github.io/store/fonts/Gitan/Gitan-RegularItalic.otf') format('opentype');
}
@font-face {
	font-family: 'Gitan';
	font-style: italic;
	font-weight: bold;
	src: url('https://shevernitskiy.github.io/store/fonts/Gitan/Gitan-BoldItalic.otf') format('opentype');
}