@font-face {
    font-family: 'Fontin Sans CR';
    src: url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Bold.eot');
    src: local('Fontin Sans CR Bold'), local('FontinSansCR-Bold'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Bold.woff2') format('woff2'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Bold.woff') format('woff'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans CR SC';
    src: url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-SC.eot');
    src: local('Fontin Sans CR SC'), local('FontinSansCR-SC'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-SC.eot?#iefix') format('embedded-opentype'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-SC.woff2') format('woff2'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-SC.woff') format('woff'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-SC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans CR';
    src: url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-BoldItalic.eot');
    src: local('Fontin Sans CR Bold Italic'), local('FontinSansCR-BoldItalic'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-BoldItalic.woff2') format('woff2'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-BoldItalic.woff') format('woff'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Fontin Sans CR';
    src: url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Regular.eot');
    src: local('Fontin Sans CR Regular'), local('FontinSansCR-Regular'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Regular.woff2') format('woff2'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Regular.woff') format('woff'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fontin Sans CR';
    src: url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Italic.eot');
    src: local('Fontin Sans CR Italic'), local('FontinSansCR-Italic'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Italic.eot?#iefix') format('embedded-opentype'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Italic.woff2') format('woff2'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Italic.woff') format('woff'),
        url('https://shevernitskiy.github.io/store/fonts/Fontis/FontinSansCR-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

